* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #0e0e0e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #e4e4e7;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
header h1 {
  font-size: 3rem;
  color: #e4e4e7;
}

main {
  flex: 1 1 auto;
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container #containerPosts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
main .container #containerPosts .post {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: skyblue;
  transition: 0.4s;
  animation: post_ 1s ease forwards;
}
main .container #containerPosts .post h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
main .container #containerPosts .post p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
main .container #containerPosts .post:hover {
  margin: 0 0;
  padding: 25px 15px;
}
main .container #containerPosts:has(.post:hover) .post:not(:hover) {
  opacity: 0.8;
}
main .container #containerPosts .courent-page {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 5px 20px;
  font-size: 12px;
  border-radius: 20px;
  background-color: skyblue;
  color: black;
}
main .container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
}
main .container .pagination #page-buttons {
  display: flex;
  gap: 15px;
}
main .container .pagination #page-buttons .page-btn {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: skyblue;
  color: black;
  transition: 0.4s;
}
main .container .pagination #page-buttons .page-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px skyblue;
}
main .container .pagination #page-buttons .page-btn.active {
  background-color: blue;
  color: white;
}
main .container .pagination #prev-btn,
main .container .pagination #next-btn {
  width: 70px;
  height: 35px;
  border-radius: 10px;
  background-color: skyblue;
  color: black;
  transition: 0.4s;
}
main .container .pagination #prev-btn:hover:not(:disabled),
main .container .pagination #next-btn:hover:not(:disabled) {
  transform: scale(1.1);
  box-shadow: 0 0 8px skyblue;
}
main .container .pagination #prev-btn:disabled,
main .container .pagination #next-btn:disabled {
  opacity: 0.8;
  color: gray;
}

@keyframes post_ {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
footer {
  padding: 1rem;
  border-top: 1px solid #e4e4e7;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
footer h6 a {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #e4e4e7;
  transition: 0.5s;
}
footer h6 a:hover {
  color: skyblue;
  text-shadow: 0 0 1rem skyblue;
}

#load-page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#load-page .load-page__box {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: load-page__box_ 2s infinite;
  filter: drop-shadow(0 0 10rem);
}

.load-page-close {
  animation: load-page_ 3s ease forwards;
}

@keyframes load-page_ {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes load-page__box_ {
  0% {
    background-color: blue;
    color: blue;
    scale: 1;
    border-radius: 25;
    rotate: 0deg;
  }
  50% {
    background-color: skyblue;
    color: skyblue;
    scale: 3;
    border-radius: 50%;
    rotate: 180deg;
  }
  100% {
    background-color: blue;
    color: blue;
    scale: 1;
    border-radius: 25;
    rotate: 360deg;
  }
}