* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}
button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #1c1c1c;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form {
  max-width: 1000px;
  background-color: #2e2e2e;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #c0c0c0;
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    transition: 0.2s;
  }
  .box-serch {
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    .cityInput {
      width: 100%;
      padding: 0.5rem 1.5rem;
      font-size: 1.5rem;
      border-radius: 3rem;
      caret-color: #2e2e2e;
      transition: 0.4s;
      &:hover {
        box-shadow: 0 0 0.5rem #c0c0c0;
      }
      &:focus {
        box-shadow: 0 0 1rem #c0c0c0;
      }
      &::placeholder {
        opacity: 0.8;
      }
    }
    .searchBtn {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      border-radius: 4rem;
      background-color: #e4e4e7;
      color: #1c1c1c;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        box-shadow: 0 0 1rem #c0c0c0;
        transform: scale(1.1);
      }
      &:active {
        box-shadow: 0 0 2rem #c0c0c0;
        transform: scale(0.95);
      }
    }
    .toggleTheme {
      padding: 0.5rem 0;
      width: 5rem;
      font-size: 1.5rem;
      border-radius: 50%;
      text-align: center;
      background-color: #e4e4e7;
      color: #1c1c1c;
      &:hover {
        box-shadow: 0 0 1rem #c0c0c0;
        transform: scale(1.1);
      }
      &:active {
        box-shadow: 0 0 2rem #c0c0c0;
        transform: scale(0.95);
      }
    }
  }
  &:hover {
    box-shadow: 0 0 1rem #c0c0c0;
  }
}

// ==== MODAL WINDOW
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2e2edd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .modal-body {
    background-color: #2e2e2e;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #e4e4e7;
    overflow: hidden;
    position: relative;
    color: #e4e4e7;
    .modal-close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 3rem;
      height: 3rem;
      background-color: inherit;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 3rem;
        height: 4px;
        border-radius: 2px;
        top: 50%;
        left: 50%;
        background-color: #e4e4e7;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover {
        scale: 1.05;
      }
    }
    .modal-title {
      font-size: 2.5rem;
      margin: auto;
      width: fit-content;
      text-wrap-mode: nowrap;
    }
    .modal-container-toDay {
      .modal-basicInfo {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 2rem 3rem;
        font-size: 4rem;
        gap: 5rem;
      }
      .modal-additlInfo {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 1rem 0;
        font-size: 1.5rem;
        gap: 2.5rem;
      }
      img{
        object-fit: contain;
      }
    }
    .modal-container-sevenDay {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1rem;
      padding: 1rem;
      .modal-card {
        text-align: center;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      img{
        object-fit: contain;
      }
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 2px;
        top: 0;
        left: -20%;
        background-color: #e4e4e755;
      }
    }
  }

  animation: modal_ 0.4s linear forwards;
  &.modal-close {
    animation: modal-close_ 0.4s linear forwards;
  }
}

@keyframes modal_ {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes modal-close_ {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .modal{
    .modal-body{
      .modal-container-toDay{
        .modal-basicInfo{
          flex-direction: column;
          text-align: center;
          gap: 15px;
          font-size: 2rem;
          img{
            margin: auto;
            width: 5rem;
          }
        }
        .modal-additlInfo{
          font-size: 1.2rem;
        }
      }
      .modal-container-sevenDay {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

//  === FOTER

footer {
  padding: 1rem;
  border-top: 1px solid #e4e4e7;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  h6 {
    a {
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: inherit;
      transition: 0.5s;
    }
  }
}

// ======= light-mode
.light-mode {
  background-color: #c0c0c0;
  color: #2e2e2e;
  .form {
    background-color: #fff;
    box-shadow: 0 0 0.5rem #1c1c1c;
    &:hover {
      box-shadow: 0 0 1rem #1c1c1c;
    }
    .cityInput {
      background-color: #2e2e2e;
      color: #e4e4e7;
      caret-color: #e4e4e7;
      &:hover {
        box-shadow: 0 0 0.5rem #1c1c1c;
      }
      &:focus {
        box-shadow: 0 0 1rem #1c1c1c;
      }
    }
    .searchBtn {
      background-color: #2e2e2e;
      color: #e4e4e7;
      &:hover {
        box-shadow: 0 0 1rem #1c1c1c;
      }
      &:active {
        box-shadow: 0 0 2rem #1c1c1c;
      }
    }
    .toggleTheme {
      background-color: #2e2e2e;
      color: #e4e4e7;
      color: #e4e4e7;
      &:hover {
        box-shadow: 0 0 1rem #1c1c1c;
      }
      &:active {
        box-shadow: 0 0 2rem #1c1c1c;
      }
    }
  }
  .modal{
    .modal-body {
      background-color: #e4e4e7;
      color: #2e2e2e;
      .modal-close-btn{
        &::after,
        &::before{
          background-color: #2e2e2e;
        }
      }
      .modal-container-sevenDay{
        &::after{
          background-color: #2e2e2e55;
        }
      }
    }
  }
}
